/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');*/

 :root {
    --primary: #000000;
    --txt: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to top, #f3a90a, #f88989, #64939b, #203e4d, #250125, #000000);
    min-height: 10vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font
}


/*  #header .logo {
     color: var(--txt);
     font-weight: 700;
     font-size: 2em;
     text-decoration: none;
  }*/

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 40px;
}

#header ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: var(--txt);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.shooting {
    position: relative;
    top: 30%;
    left: 30%;
    width: 500px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    transform: rotateZ(-45deg);
}

.shooting .core {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f7f7f1;
    box-shadow: 0px 0px 3px 1px #ffffff, 0px 0px 10px 5px #fffffff1;
    animation: 6s linear infinite core;
}

.shooting .trail {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100px;
    height: 5px;
    border-radius: 50% 0 0 50%;
    background: linear-gradient( to right, #f7c9aedc, #f3f3b1d5 50%, transparent);
    top: -1px;
    left: 0;
    animation: 6s linear infinite trail;
}

@keyframes core {
    0% {
        left: 100%;
        opacity: 1;
    }
    15% {
        left: 30%;
        opacity: 0.8;
    }
    30% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

@keyframes trail {
    0% {
        left: 100%;
        opacity: 1;
        width: 0;
    }
    15% {
        left: 35%;
        opacity: 0.5;
        width: 150px;
    }
    30% {
        left: 0;
        opacity: 0;
        width: 150px;
    }
    100% {
        left: 0;
        opacity: 0;
        width: 150px;
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--txt);
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Courier New', Courier, monospace, cursive;
    /*transform: translatey(-50%);*/
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 20px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

footer {
    position: relative;
    padding: 20px 100px;
    background: var(--primary);
}

footer a {
    text-decoration: none;
    color: #fff;
}

#cosmos {
    opacity: 30%;
}